<section class="profile-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 profile-image">
                <img src="https://rickandmortyapi.com/api/character/avatar/6.jpeg" alt="Rick Sanchez"
                    class="rounded-img">
            </div>

            <div class="col-md-6">
                <h2 class="profile-heading">Rick Sanchez</h2>
                <div class="profile-content">
                    <p><b>Status: </b>Alive </p>
                    <p><b>Species: </b>Human</p>
                    <p><b>Type: </b> Unknown</p>
                    <p><b>Gender: </b>Male</p>
                    <p><b>Origin: </b>Earth</p>
                    <p><b>Location: </b>Earth</p>
                    <p><b>Created: </b>2017-11-04T18:48:46.250Z</p>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-dark" type="button" routerLink="/home">BACK</button>
        </div>
    </div>
</section>