.rick-and-morty-heading {
  font-size: 84px;
  font-weight: 700;
  background: linear-gradient(90deg, hsl(118, 95%, 45%) 30%, #0abbec 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rick-morty-heading-secondary {
  font-size: 1.375rem;
  font-weight: 400;
}

.rick-and-morty-border {
  border-color: #0abbec;
  margin: 5px;
}

.pagination-spacing {
  margin-top: 3em;
  margin-bottom: 2em;
}