h1 {
padding-left: 0;
padding-right: 0;
padding-top: 0;
font-family: 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
font-weight: 800;
text-rendering: optimizeLegibility;
font-size: 2rem;
line-height: 1.1;
border-bottom: 1px solid hsla(0, 0%, 0%, 0.07);
}